<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="MaryPizzaEntities" connectionString="metadata=res://*/MarysPizzeriaModel.csdl|res://*/MarysPizzeriaModel.ssdl|res://*/MarysPizzeriaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=max.bcit.ca;initial catalog=MaryPizza;user id=MaryPizza;password=MaryPizza;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SqlRoleManagerConnection" connectionString="Data Source=DUO-13\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=SSPI;User ID=sa;Password=********;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5">  
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    
    <httpRuntime targetFramework="4.5"/>
    
    <authentication mode="Forms"/>

    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <add name="SqlRoleManager"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="SqlRoleManagerConnection"/>
      </providers>
    </roleManager>

    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider"
            connectionStringName="SqlRoleManagerConnection"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
  </system.web>

  <location path="Pages/ReportPage.aspx">
    <system.web>
      <authorization>
        <allow roles="sales"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ToppingPage.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>